/* GLOBAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

body{
    min-width: 1200px;
    font-family: 'Montserrat', sans-serif;
}

.w-50{
    width: 50%;
}

.float-left{
    float: left;
}

.font{
    font-size: 0.8em;
}

.font-min{
    font-size: 0.6em;
}
    


.text-right{
    text-align: right;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.p-bottom{
    padding-bottom: 30px;
}



/* CONTAINER */

.container-1{
    width: 100%;
}

.container-2{
    width: 1000px;
    margin: 0 auto;
}




/* NAV */

.nav{
    width: 100%;
    height: 80px;
    background-color: rgb(244, 249, 253);
    border-bottom: 1px solid rgb(104, 121, 134);
    line-height: 80px;
    vertical-align: middle;
}



/* BTN */


.btn{
    display: inline-block;
    padding: 0 15px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}

.btn-white{
    background-color: white;
}

.btn-orange{
    background-color: rgb(254, 119, 90);
}

.a-orange{
    color: rgb(254, 119, 90);
    text-decoration: none;
}

.a-white{
    color: white;
    text-decoration: none;
}

.btn-big{
    display: inline-block;
    padding: 0 15px;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
}


/* HEADER */

/* LOGO */
.header-top{
    height: 80px;
}

.header-logo {
    height: 80px;
    line-height: 80px;
}

.header-logo img{
    vertical-align: middle;
}

/* LIST */

.header-list{
    height: 80px;
    line-height: 80px;
}

.header-list li{
    display: inline;
    padding: 0 7px;
    font-size: 0.8em;
}

.header-list li a{
    text-decoration: none;
    padding-right: 10px;
}



/* JUMBOTRON */

.jumbotron-background{
    height: 500px;
    background-image: url(../img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(255, 243, 238);
}

.line-color{
    height: 60px;
    width: 100%;
    background-color: rgb(175, 235, 228);
    border-top: 2px solid rgb(51, 71, 91);
    border-bottom: 2px solid rgb(51, 71, 91);
    bottom: 0;
}

.jumbotron-content h1,
.jumbotron-content p,
.jumbotron-content span{
    line-height: 25px;
}

.jumbotron-content h1{
    padding-top: 50px;
}

.jumbotron-content .btn{
    margin: 0;
    
}

.jumbotron-content .btn a{
    padding: 20px 10px;
}

.jumbotron-content span{
    display: block;
    padding-top: 30px;

}


/* MAIN */

/* MAIN TOP */

.main-top{
    background-color: rgb(244, 249, 253);
}

.main-title{
    text-align: center;
}

.main-title .img{
    padding-top: 50px;
}

.main-title .img img{
    width: 20%;
}

.main-title p{
    margin: 0 100px;
    line-height: 25px;
}


/* MAIN FEATURE */

.main-feature{
    background-color: white;
}


/* FEATURE LEFT */
.feature-left{
    width: 40%;
    
}

.feat-box{
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.main-feature img{
    width: 30%;
    padding-bottom: 20px;
}


/* FEATURE RIGHT */
.feature-right{
    width: 60%;
}

.feature-right .feat-box{
    text-align: left;
}

.feature-right p{
    line-height: 25px;
}

.feature-right h4,
.feature-right .line-text{
    display: inline-block
}

.feature-right h4{
    text-transform: uppercase;
}

.feature-right .line-text{
    width: 40%;
    border-bottom: 2px solid rgb(143, 153, 157);
    margin-left: 30px;
}

.feature-right li{
    display: inline;
}

li.check-mark{
    padding-right: 15px;
    list-style: none;
    font-size: 0.7em;
}

span.check-mark{
    padding-right: 10px;
}

li .fas{
    color: rgb(254, 119, 90);
}


/* MAIN COL */

.main-col{
    background-color: rgb(244, 249, 253);
    padding: 50px 0;
}

.col{
    width: 32%;
    background-color: white;
    border-radius: 10px;
}

.col-box{
    width: 80%;
    margin: 20px auto 30px auto;
    text-align: center;
}

.border-gray{
    border-bottom: 2px solid rgb(143, 153, 157);
}

.col-box .img{
    display: inline-block;
    height: 200px;
    padding-bottom: 20px;
}

.col-box img{
    width: 80%;
    
}

.col-box h3{
    padding-bottom: 20px;
}

.col-box p{
    line-height: 25px;
    padding-bottom: 50px;
}

.col-box h4{
    text-transform: uppercase;
    padding-bottom: 20px;
}

.col-box ul{
    text-align: left;
    padding-bottom: 30px;
}

.col-center{
    margin: 0 2% 0 2%;
}



/* MAIN TABLE */

/* TITLE */
.main-table{
    background-color: turquoise;
}

.table-title{
    text-align: center;
    padding: 50px 0;
}

.main-table h2,
.main-table p{
    color: white;
}

.main-table p{
    line-height: 23px;
}

/* TABLE */

.table .box{
    width: 25%;
    border-right: 1px solid  rgba(247, 252, 253, 0.5);
    border-bottom: 1px solid white;
    text-align: center;
}

.table .box .box-inside{
    margin: 10px 20px;
}

.table .p-number{
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 20px;
}

.table .box .img{
    display: inline-block;
    padding-bottom: 20px;
}

.table .box .img img{
    width: 100%;
}









