/* GLOBAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

body{
    min-width: 1200px;
    font-family: 'Montserrat', sans-serif;
}

.w-50{
    width: 50%;
}

.float-left{
    float: left;
}

.font-min{
    font-size: 0.8em;
}

.text-right{
    text-align: right;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}



/* CONTAINER */

.container-1{
    width: 100%;
}

.container-2{
    width: 1000px;
    margin: 0 auto;
}




/* NAV */

.nav{
    width: 100%;
    height: 80px;
    background-color: rgb(244, 249, 253);
    border-bottom: 1px solid rgb(104, 121, 134);
    line-height: 80px;
    vertical-align: middle;
}



/* BTN */


.btn{
    display: inline-block;
    padding: 0 15px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}

.btn.btn-white{
    background-color: white;
}

.btn.btn-orange{
    background-color: rgb(254, 119, 90);
}

.a-orange{
    color: rgb(254, 119, 90);
    text-decoration: none;
}

.a-white{
    color: white;
    text-decoration: none;
}


/* HEADER */

/* LOGO */
.header-top{
    height: 80px;
}

.header-logo {
    height: 80px;
    line-height: 80px;
}

.header-logo img{
    vertical-align: middle;
}

/* LIST */

.header-list{
    height: 80px;
    line-height: 80px;
}

.header-list li{
    display: inline;
    padding: 0 7px;
    font-size: 0.8em;
}

.header-list li a{
    text-decoration: none;
    padding-right: 10px;
}



/* JUMBOTRON */

.jumbotron-background{
    height: 500px;
    background-image: url(../img/jumbotron.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(255, 243, 238);
}

.line-color{
    height: 60px;
    width: 100%;
    background-color: rgb(175, 235, 228);
    border-top: 2px solid rgb(51, 71, 91);
    border-bottom: 2px solid rgb(51, 71, 91);
    bottom: 0;
}

.




